<div class="col-md-6" style="margin-left: 50%">
    <h2 style="text-align: center">Login</h2>
    <form (ngSubmit)="onlogin(login)" [formGroup] = "login">
        <div class="form-group">
            <span class="col-sm-2 col-form-label" ><strong>Username :</strong></span>
            <input type="text" class="form-control" placeholder="Enter Username" id="userName" name="userName" #userName formControlName="userName" >
        </div>
        <div class="form-group">
            <span class="col-sm-2 col-form-label" ><strong>Password :</strong></span>
            <input type="password" class="form-control" placeholder="Enter Password" id="Password" name="Password" #Password formControlName="Password">
        </div>
        <button type="submit" class="btn btn-outline-success" [disabled]="!login.valid">Log In</button>
        <button class="btn btn-primary" routerLink="/register">Register</button>
    </form>
</div>